__pycache__/
*.pyc
*.log
history_*.json
faiss_index/
# users.json is excluded if you want privacy, but included if you want these default users for the demo
# secrets should not be committed
.streamlit/secrets.toml
secrets.toml
*.toml
